.heart {
    position: relative;
    background-color: #ffffff;
    height: 80px;
    width:80px;
    top: 300px;
    left: 166px;
    transform: rotate(-45deg);
    animation: .8s beat infinite;
  }
  .heart:before, .heart:after {
    content:"";
    background-color: #ffffff;
    border-radius:50%;
    height: 80px;
    width: 80px;
    position: absolute;
  }
  .heart:before {
    top:-40px;
    left:0;
  }
  .heart:after {
    left:40px;
    top:0;
  }
  .smile {
    position: absolute;
    width: 34px;
    height: 16px;
    background-color: #f00;
    z-index: 1;
    border-radius: 0 0 100px 100px;
    top: 345px;
    left: 190px;
    overflow: hidden;
  }
  .smile:before {
    content:"";
    position: absolute;
    border-radius:50%;
    width:20px;
    height:20px;
    background-color: #b11d1d;
    top: 5px;
    left: 7px;
  }
  .eyes {
    position: absolute;
    border-radius: 50%;
    background-color: #e40a0a;
    width: 14px;
    height: 14px;
    z-index: 1;
    top: 300px;
    left: 219px;
    box-shadow: -40px 0 #e40a0a;
    transform-origin: 50%;
    animation: close 2s infinite;
  }
  @keyframes close {
    0%, 100% {
      transform: scale(1, .05);
      }
    5%, 95% {
          transform: scale(1, 1);
      }
  }
  @keyframes beat {
    /* 0%, 40%, 100% {
      transform: scale(1) rotate(-45deg);
    } */
    25%, 60% {
      transform: scale(1.1) rotate(-45deg);
    }
  }