#container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(255 144 243 / 35%);
}

.book {
    position: relative;
    border-radius: 10px;
    width: 410px;
    height: 600px;
    /* Internal Image, upload your couple image here */
   background-image: url(https://i.ytimg.com/vi/Ee_fIrqfxxE/oar2.jpg?sqp=-oaymwEYCJUDENAFSFqQAgHyq4qpAwcIARUAAIhC&rs=AOn4CLCYnCD377eypvhqgs-1-1ciIFKK6w);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 97%;
    -webkit-box-shadow: 1px 1px 12px black;
    box-shadow: 1px 1px 12px black;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
}

.cover {
    top: 0;
    position: absolute;
    /* background-color: lightgray;
    background-image: linear-gradient(40deg, rgb(0 85 235), black); */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    /* -webkit-box-shadow: 1px 1px 12px black; */
    box-shadow: 1px 1px 12px black;
    filter: drop-shadow(1px 1px 12px black);
    background: #F3904F;
    background: -webkit-linear-gradient(to right, #3B4371, #F3904F);
    background: linear-gradient(to right, #6c3b71, #f34fd1ed);
}

.book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-85deg);
    -ms-transform: rotateY(-85deg);
    transform: rotatey(-120deg);
}
.cover-emoji {
    position: absolute;
    bottom: 8px;
    left: 14px;
    font-weight: 800;
    font-size: 12px;
}