.notes {
    position: absolute;
    color: #54cfdf;
    font-size: 52px;
    top: 100px;
    width:100%;
    text-align: center;
    font-family: 'Protest Revolution', sans-serif;
    text-transform: uppercase;
  }
  .notes:before, .notes:after {
    position: absolute;
    left:5px;
    text-align: center;
    width:100%;
  }
  .notes:before {
    content:"Birthday!";
    top:60px;
    color: #f6fb7a;
    font-family: 'Protest Riot', sans-serif;
  }
  /* .notes:after {
    content:"day!";
    top:60px;
    font-family: 'Protest Riot', sans-serif;
  } */